/*-- index 500vip --*/
.header { overflow: hidden; }
.header #header-left {  background: url(../images/500vip/gren.png) no-repeat;  background-size:25px 23.5px; width:25px; height:23.5px; display: block; margin-top: 3px; }
.header #header-left, .header #reveal-right {  color: #fff; display: block;  text-indent: -99999px;  border: none;  position: absolute;  cursor: pointer;  outline: none;  }
.header-title {background: url(../images/500vip/logo.png) no-repeat; width:25px; height:25px;background-size:25px 25px; display: inline-block; margin:6px auto; text-align: center; }
.header-head{ background: url(../images/500vip/zhuce.png) no-repeat;line-height: 44px;  width: 52px; height:35px;  background-size: 42px 27px;  position: absolute; right: 0;  top: 8px;  z-index: 9;}
.header .login{  background: url(../images/500vip/login.png) no-repeat; line-height: 44px;  width: 52px; height:35px;  background-size: 42px 27px; margin-top: 1px; position: fixed; }
.header-logo{line-height: 44px;padding:6px 12px;overflow: hidden;}
.header-banner img { max-width: 100%; }

.bulletin { height: 40px; line-height: 40px; border-bottom: 1px solid #ddd; position: relative; overflow: hidden; position: relative; }
.bulletin marquee { position:absolute; left: 40px; z-index: 9; width: 75%;white-space:nowrap;}
.bull-text { width:95%; float: left; position: absolute; padding: 0 40px; box-sizing: border-box; font-size: 14px; white-space:nowrap; overflow: hidden; }
.bull-ila { background: url(../images/500vip/ilabandex.png) no-repeat; background-size: 15px 15px; width:15px; height: 15px; float: left; margin:12px 0 0 15px; }
.bull-arrow { background: url(../../images/index_pic_08.png) no-repeat; background-size: 8px 12px; width:8px; height: 12px; float: right; margin:12px 15px 0 0; }


.index-menu ul li { width: 25%; float: left; text-align: center; }
.index-menu ul li a {  display: block; border-right:1px solid #e8e8e8; }
.index-menu ul li a:first-child { border-left: 0; }
.index-menu ul li a:last-child { border-right: 0; }
.index-menu ul li a img { max-width: 100%; }

.hot-tit { line-height: 40px; padding-left: 10px;background: #f5f5f5;border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
.hot-tit a {  color: #000;min-font-size:18px;}
.hot-tit a .bull-arrow { margin-left: 10px; }

.hot-lot { overflow: hidden;background: #fff; }
.hot-lot ul li { width: 33.33%; float: left; text-align: center;}
.hot-lot ul li a { display: block; font-size:95%; padding-bottom: 5px;cursor:pointer;  color: #000;}
.hot-lot ul li .hot-icon img { max-width: 100%; padding:10px 25px 0; box-sizing: border-box;}
.hot-lot ul li a { border-bottom: 1px solid #dcdcdc; border-right: 1px solid #ececea;}
.news-tit {  padding: 10px;background: #f5f5f5;border-bottom:1px solid #e8e8e8;}
.news-tit a{ max-width: 100%;color: #000;min-font-size:30px; }
.news-info ul li { position: relative; overflow: hidden; line-height: 24px; }
.news-info ul { padding:0 10px; color: #666; font-size: 80%; }
.news-left { float: left; }


.news-tit-ul { margin-top: 44px; height: 32px; line-height: 32px; padding:0 10px; box-sizing: border-box; background: #eaeaea; overflow: hidden; }
.news-info-list ul li { border-bottom: 1px solid #ddd; height: 30px; line-height: 30px; color: #555; }
.news-info-list ul li .pol-icon { margin-top: 9px; }


.hot-tit { line-height: 40px; padding-left: 10px;background: #f5f5f5;border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
.hot-tit a {  color: #000;min-font-size:18px;}
.hot-tit a .bull-arrow { margin-left: 10px; }

.hot-lot { overflow: hidden;background: #fff; }
.hot-lot ul li { width: 33.33%; float: left; text-align: center;}
.hot-lot ul li a { display: block; font-size:95%; padding-bottom: 5px;cursor:pointer;  color: #000;}
.hot-lot ul li .hot-icon img { max-width: 100%; padding:15px 30px 0; box-sizing: border-box;}
.hot-lot ul li a { border-bottom: 1px solid #dcdcdc; border-right: 1px solid #ececea;}


/* 添加iPad的两个尺寸 768和1024 字体大小 */
@media only screen and (min-width:768px ) {
	.header { height: 64px !important;}
	.header .login { background-size: 50px 30px !important; margin-top: 10px !important;}
	.header-head { background-size: 50px 30px !important; top: 18px; right: 10px;}
	.header-title { background-size: 100px 32px !important; height: 32px !important; margin: 12px auto !important;}
	.list-text {
		font-size: 160%;
	}
	.hot-tit-text {
		font-size: 160% !important;
	}
	.list-text-2 {
		font-size: 120%;
	}
	.news-info ul li {
		line-height: 30px !important;
		font-size: 180%;
	}
	.lottery-list ul li a .hot-text { font-size: 160% !important;}
    .lottery-list ul li a .last-time { font-size: 120% !important;}
    .pol-icon { background-size: 15px 15px; width: 15px; height: 15px;}
    
	.bulletin marquee {
		font-size: 160%;
	}
	.host-list-erect ul li {
		width: 45% !important;
		padding-left: 5%;
	}
	.hot-new-tit {
		padding-left: 36px !important;
	}
	.scorllmain-content {
		padding-bottom: 104px !important;
		padding-top: 64px !important;
	}
	.hot-tit-img {
		margin-top: 10px;
		background-size: 2px 20px;
		height: 20px;
	}
	.bull-ila {
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		margin: 9px 0 0 15px !important;
	}
	.bull-arrow {
		background-size:12px 16px;
		width: 12px;
		height: 16px;
		margin: 9px 15px 0 0 !important;
	}
}